# Python
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env
.pytest_cache/

# Svelte/SvelteKit
.svelte-kit/
node_modules/
build/
.vercel/
.netlify/

ext/
temp/
__pycache__/
gpt_key
data/
.DS_Store
qdrant_storage